--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_emailaddress; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.account_emailaddress (
    id integer NOT NULL,
    email character varying(254) NOT NULL,
    verified boolean NOT NULL,
    "primary" boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.account_emailaddress OWNER TO abcd;

--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.account_emailaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_emailconfirmation; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.account_emailconfirmation (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    sent timestamp with time zone,
    key character varying(64) NOT NULL,
    email_address_id integer NOT NULL
);


ALTER TABLE public.account_emailconfirmation OWNER TO abcd;

--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.account_emailconfirmation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailconfirmation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_admin_category; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_admin_category (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    is_active boolean NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    discount_percentage numeric(5,2) NOT NULL,
    offer_price numeric(10,2)
);


ALTER TABLE public.auth_admin_category OWNER TO abcd;

--
-- Name: auth_admin_category_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_admin_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_admin_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_admin_coupon; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_admin_coupon (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    end_date timestamp with time zone NOT NULL,
    start_date timestamp with time zone NOT NULL,
    discount_amount numeric(10,2) NOT NULL,
    min_order_amount numeric(10,2) NOT NULL,
    usage_limit integer NOT NULL,
    is_deleted boolean NOT NULL,
    CONSTRAINT auth_admin_coupon_usage_limit_check CHECK ((usage_limit >= 0))
);


ALTER TABLE public.auth_admin_coupon OWNER TO abcd;

--
-- Name: auth_admin_coupon_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_admin_coupon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_admin_coupon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_admin_customuser; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_admin_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    is_staff boolean NOT NULL,
    email character varying(254) NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.auth_admin_customuser OWNER TO abcd;

--
-- Name: auth_admin_customuser_groups; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_admin_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_admin_customuser_groups OWNER TO abcd;

--
-- Name: auth_admin_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_admin_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_admin_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_admin_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_admin_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_admin_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_admin_customuser_user_permissions; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_admin_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_admin_customuser_user_permissions OWNER TO abcd;

--
-- Name: auth_admin_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_admin_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_admin_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_admin_order; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_admin_order (
    id bigint NOT NULL,
    date_of_order timestamp with time zone NOT NULL,
    total numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    payment_status character varying(20) NOT NULL,
    cancelled_at timestamp with time zone,
    address_id bigint,
    user_id bigint NOT NULL,
    payment_method character varying(20),
    shipping_cost numeric(10,2) NOT NULL,
    discount_amount numeric(10,2) NOT NULL,
    coupon_id bigint
);


ALTER TABLE public.auth_admin_order OWNER TO abcd;

--
-- Name: auth_admin_order_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_admin_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_admin_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_admin_orderitem; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_admin_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    status character varying(20) NOT NULL,
    CONSTRAINT auth_admin_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.auth_admin_orderitem OWNER TO abcd;

--
-- Name: auth_admin_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_admin_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_admin_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_admin_product; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_admin_product (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    photo_1 character varying(100),
    photo_2 character varying(100),
    photo_3 character varying(100),
    price numeric(10,2) NOT NULL,
    offer_percentage numeric(5,2) NOT NULL,
    offer_price numeric(10,2) NOT NULL,
    stock integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint NOT NULL,
    CONSTRAINT auth_admin_product_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.auth_admin_product OWNER TO abcd;

--
-- Name: auth_admin_product_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_admin_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_admin_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO abcd;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO abcd;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO abcd;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_cart; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.cart_cart (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.cart_cart OWNER TO abcd;

--
-- Name: cart_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.cart_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_cartitem; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.cart_cartitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT cart_cartitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.cart_cartitem OWNER TO abcd;

--
-- Name: cart_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.cart_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO abcd;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO abcd;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO abcd;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO abcd;

--
-- Name: django_site; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.django_site (
    id integer NOT NULL,
    domain character varying(100) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.django_site OWNER TO abcd;

--
-- Name: django_site_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.django_site ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_site_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialaccount; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.socialaccount_socialaccount (
    id integer NOT NULL,
    provider character varying(200) NOT NULL,
    uid character varying(191) NOT NULL,
    last_login timestamp with time zone NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    extra_data jsonb NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.socialaccount_socialaccount OWNER TO abcd;

--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.socialaccount_socialaccount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialaccount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.socialaccount_socialapp (
    id integer NOT NULL,
    provider character varying(30) NOT NULL,
    name character varying(40) NOT NULL,
    client_id character varying(191) NOT NULL,
    secret character varying(191) NOT NULL,
    key character varying(191) NOT NULL,
    provider_id character varying(200) NOT NULL,
    settings jsonb NOT NULL
);


ALTER TABLE public.socialaccount_socialapp OWNER TO abcd;

--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.socialaccount_socialapp ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp_sites; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.socialaccount_socialapp_sites (
    id bigint NOT NULL,
    socialapp_id integer NOT NULL,
    site_id integer NOT NULL
);


ALTER TABLE public.socialaccount_socialapp_sites OWNER TO abcd;

--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.socialaccount_socialapp_sites ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_sites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialtoken; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.socialaccount_socialtoken (
    id integer NOT NULL,
    token text NOT NULL,
    token_secret text NOT NULL,
    expires_at timestamp with time zone,
    account_id integer NOT NULL,
    app_id integer
);


ALTER TABLE public.socialaccount_socialtoken OWNER TO abcd;

--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.socialaccount_socialtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_profile_address; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.user_profile_address (
    id bigint NOT NULL,
    street character varying(255) NOT NULL,
    city character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    pin_code character varying(20) NOT NULL,
    country character varying(100) NOT NULL,
    phone character varying(15) NOT NULL,
    update_at timestamp with time zone NOT NULL,
    is_default boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_profile_address OWNER TO abcd;

--
-- Name: user_profile_address_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.user_profile_address ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_profile_address_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_profile_complaint; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.user_profile_complaint (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    order_id bigint NOT NULL,
    item_id bigint NOT NULL,
    status_complaint character varying(10) NOT NULL
);


ALTER TABLE public.user_profile_complaint OWNER TO abcd;

--
-- Name: user_profile_complaint_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.user_profile_complaint ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_profile_complaint_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_profile_wallet; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.user_profile_wallet (
    id bigint NOT NULL,
    balance numeric(10,2) NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_profile_wallet OWNER TO abcd;

--
-- Name: user_profile_wallet_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.user_profile_wallet ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_profile_wallet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_profile_wallettransaction; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.user_profile_wallettransaction (
    id bigint NOT NULL,
    transaction_type character varying(10) NOT NULL,
    amount numeric(18,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    wallet_id bigint NOT NULL
);


ALTER TABLE public.user_profile_wallettransaction OWNER TO abcd;

--
-- Name: user_profile_wallettransaction_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.user_profile_wallettransaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_profile_wallettransaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: wishlist_wishlist; Type: TABLE; Schema: public; Owner: abcd
--

CREATE TABLE public.wishlist_wishlist (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.wishlist_wishlist OWNER TO abcd;

--
-- Name: wishlist_wishlist_id_seq; Type: SEQUENCE; Schema: public; Owner: abcd
--

ALTER TABLE public.wishlist_wishlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wishlist_wishlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_emailaddress; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.account_emailaddress (id, email, verified, "primary", user_id) FROM stdin;
\.


--
-- Data for Name: account_emailconfirmation; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.account_emailconfirmation (id, created, sent, key, email_address_id) FROM stdin;
\.


--
-- Data for Name: auth_admin_category; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.auth_admin_category (id, name, description, is_active, deleted_at, created_at, updated_at, discount_percentage, offer_price) FROM stdin;
1	Fresh Fruits	sdfhuohfoierf	t	\N	2025-04-11 04:17:05.95976+00	2025-04-11 04:17:05.95976+00	20.00	\N
\.


--
-- Data for Name: auth_admin_coupon; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.auth_admin_coupon (id, code, end_date, start_date, discount_amount, min_order_amount, usage_limit, is_deleted) FROM stdin;
1	VISHu121	2025-05-31 05:56:00+00	2025-04-14 05:56:00+00	121.00	200.00	0	f
\.


--
-- Data for Name: auth_admin_customuser; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.auth_admin_customuser (id, password, is_superuser, username, is_active, date_joined, is_staff, email, deleted_at) FROM stdin;
1	pbkdf2_sha256$870000$S8WTE1917NkG1gwfj9AwSJ$g0VRL79ZfbVKntnABZXv+HsUy+Hkx0O57Orf8cVyeUc=	t	admin	t	2025-04-11 03:54:13.696286+00	t	admin@gmail.com	\N
3	!Nrwqh9VHynxkvQzmGD3o8lhBXFjBJRgkb8ZOOCmV	f	shamil	t	2025-04-11 06:42:46.394044+00	f		\N
2	pbkdf2_sha256$870000$IAOJ1NutWdwOaE0HaW9xar$vot1g5vPrkx1UBpG+O46DTPqp7R1n3645XODf+2QJiA=	f	shamill	t	2025-04-11 03:57:03.98455+00	f	shamilshalu8934@gmail.com	\N
\.


--
-- Data for Name: auth_admin_customuser_groups; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.auth_admin_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_admin_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.auth_admin_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_admin_order; Type: TABLE DATA; Schema: public; Owner: abcd
--



--
-- Data for Name: auth_admin_orderitem; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.auth_admin_orderitem (id, quantity, price, order_id, product_id, status) FROM stdin;
1	1	84.00	1	1	pending
2	1	84.00	2	1	cancelled
3	1	84.00	3	1	pending
4	1	84.00	4	1	pending
5	1	84.00	5	1	pending
6	1	84.00	6	1	cancelled
7	3	84.00	7	1	pending
8	1	84.00	8	1	cancelled
\.


--
-- Data for Name: auth_admin_product; Type: TABLE DATA; Schema: public; Owner: abcd
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: abcd
--



--
-- Data for Name: cart_cart; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.cart_cart (id, created_at, updated_at, user_id) FROM stdin;
1	2025-04-11 04:18:17.657163+00	2025-04-11 04:18:17.657163+00	2
2	2025-04-11 05:09:17.260347+00	2025-04-11 05:09:17.260347+00	1
3	2025-04-14 01:36:45.238768+00	2025-04-14 01:36:45.238768+00	3
\.


--
-- Data for Name: cart_cartitem; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.cart_cartitem (id, quantity, created_at, updated_at, cart_id, product_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: abcd
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: abcd
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: abcd
--



--
-- Data for Name: django_site; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.django_site (id, domain, name) FROM stdin;
1	example.com	example.com
\.


--
-- Data for Name: socialaccount_socialaccount; Type: TABLE DATA; Schema: public; Owner: abcd
--



--
-- Data for Name: socialaccount_socialapp; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.socialaccount_socialapp (id, provider, name, client_id, secret, key, provider_id, settings) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialapp_sites; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.socialaccount_socialapp_sites (id, socialapp_id, site_id) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialtoken; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.socialaccount_socialtoken (id, token, token_secret, expires_at, account_id, app_id) FROM stdin;
\.


--
-- Data for Name: user_profile_address; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.user_profile_address (id, street, city, state, pin_code, country, phone, update_at, is_default, user_id) FROM stdin;
1	alichuvedu	malappuram	kerala	676311	India	8848919507	2025-04-11 04:18:38.952396+00	t	2
2	alichuvedu	malappuram	kerala	676311	India	8848919507	2025-04-14 01:38:01.278307+00	t	3
\.


--
-- Data for Name: user_profile_complaint; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.user_profile_complaint (id, image, description, created_at, order_id, item_id, status_complaint) FROM stdin;
\.


--
-- Data for Name: user_profile_wallet; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.user_profile_wallet (id, balance, updated_at, user_id) FROM stdin;
1	114.00	2025-04-11 05:02:25.706333+00	2
2	228.00	2025-04-14 11:30:15.661344+00	3
\.


--
-- Data for Name: user_profile_wallettransaction; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.user_profile_wallettransaction (id, transaction_type, amount, created_at, wallet_id) FROM stdin;
1	credit	114.00	2025-04-11 05:02:25.707968+00	1
2	credit	114.00	2025-04-14 02:01:28.453881+00	2
3	credit	114.00	2025-04-14 11:30:15.661941+00	2
\.


--
-- Data for Name: wishlist_wishlist; Type: TABLE DATA; Schema: public; Owner: abcd
--

COPY public.wishlist_wishlist (id, created_at, product_id, user_id) FROM stdin;
\.


--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.account_emailaddress_id_seq', 1, false);


--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.account_emailconfirmation_id_seq', 1, false);


--
-- Name: auth_admin_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_admin_category_id_seq', 1, true);


--
-- Name: auth_admin_coupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_admin_coupon_id_seq', 1, true);


--
-- Name: auth_admin_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_admin_customuser_groups_id_seq', 1, false);


--
-- Name: auth_admin_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_admin_customuser_id_seq', 3, true);


--
-- Name: auth_admin_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_admin_customuser_user_permissions_id_seq', 1, false);


--
-- Name: auth_admin_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_admin_order_id_seq', 8, true);


--
-- Name: auth_admin_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_admin_orderitem_id_seq', 8, true);


--
-- Name: auth_admin_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_admin_product_id_seq', 2, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 96, true);


--
-- Name: cart_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.cart_cart_id_seq', 3, true);


--
-- Name: cart_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.cart_cartitem_id_seq', 8, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 24, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 79, true);


--
-- Name: django_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.django_site_id_seq', 1, true);


--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.socialaccount_socialaccount_id_seq', 1, true);


--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_id_seq', 1, false);


--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_sites_id_seq', 1, false);


--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.socialaccount_socialtoken_id_seq', 1, false);


--
-- Name: user_profile_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.user_profile_address_id_seq', 2, true);


--
-- Name: user_profile_complaint_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.user_profile_complaint_id_seq', 1, false);


--
-- Name: user_profile_wallet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.user_profile_wallet_id_seq', 2, true);


--
-- Name: user_profile_wallettransaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.user_profile_wallettransaction_id_seq', 3, true);


--
-- Name: wishlist_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: abcd
--

SELECT pg_catalog.setval('public.wishlist_wishlist_id_seq', 3, true);


--
-- Name: account_emailaddress account_emailaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress account_emailaddress_user_id_email_987c8728_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_email_987c8728_uniq UNIQUE (user_id, email);


--
-- Name: account_emailconfirmation account_emailconfirmation_key_key; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_key_key UNIQUE (key);


--
-- Name: account_emailconfirmation account_emailconfirmation_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_pkey PRIMARY KEY (id);


--
-- Name: auth_admin_category auth_admin_category_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_category
    ADD CONSTRAINT auth_admin_category_pkey PRIMARY KEY (id);


--
-- Name: auth_admin_coupon auth_admin_coupon_code_key; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_coupon
    ADD CONSTRAINT auth_admin_coupon_code_key UNIQUE (code);


--
-- Name: auth_admin_coupon auth_admin_coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_coupon
    ADD CONSTRAINT auth_admin_coupon_pkey PRIMARY KEY (id);


--
-- Name: auth_admin_customuser auth_admin_customuser_email_key; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser
    ADD CONSTRAINT auth_admin_customuser_email_key UNIQUE (email);


--
-- Name: auth_admin_customuser_groups auth_admin_customuser_gr_customuser_id_group_id_e0450dfc_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser_groups
    ADD CONSTRAINT auth_admin_customuser_gr_customuser_id_group_id_e0450dfc_uniq UNIQUE (customuser_id, group_id);


--
-- Name: auth_admin_customuser_groups auth_admin_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser_groups
    ADD CONSTRAINT auth_admin_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_admin_customuser auth_admin_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser
    ADD CONSTRAINT auth_admin_customuser_pkey PRIMARY KEY (id);


--
-- Name: auth_admin_customuser_user_permissions auth_admin_customuser_us_customuser_id_permission_bb5d5571_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser_user_permissions
    ADD CONSTRAINT auth_admin_customuser_us_customuser_id_permission_bb5d5571_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: auth_admin_customuser_user_permissions auth_admin_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser_user_permissions
    ADD CONSTRAINT auth_admin_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_admin_customuser auth_admin_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser
    ADD CONSTRAINT auth_admin_customuser_username_key UNIQUE (username);


--
-- Name: auth_admin_order auth_admin_order_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_order
    ADD CONSTRAINT auth_admin_order_pkey PRIMARY KEY (id);


--
-- Name: auth_admin_orderitem auth_admin_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_orderitem
    ADD CONSTRAINT auth_admin_orderitem_pkey PRIMARY KEY (id);


--
-- Name: auth_admin_product auth_admin_product_name_key; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_product
    ADD CONSTRAINT auth_admin_product_name_key UNIQUE (name);


--
-- Name: auth_admin_product auth_admin_product_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_product
    ADD CONSTRAINT auth_admin_product_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: cart_cart cart_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_pkey PRIMARY KEY (id);


--
-- Name: cart_cart cart_cart_user_id_key; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_user_id_key UNIQUE (user_id);


--
-- Name: cart_cartitem cart_cartitem_cart_id_product_id_53cce7c3_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_cart_id_product_id_53cce7c3_uniq UNIQUE (cart_id, product_id);


--
-- Name: cart_cartitem cart_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: django_site django_site_domain_a2e37b91_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_domain_a2e37b91_uniq UNIQUE (domain);


--
-- Name: django_site django_site_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_provider_uid_fc810c6e_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_provider_uid_fc810c6e_uniq UNIQUE (provider, uid);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq UNIQUE (socialapp_id, site_id);


--
-- Name: socialaccount_socialapp socialaccount_socialapp_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialapp
    ADD CONSTRAINT socialaccount_socialapp_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp_sites_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp_sites_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq UNIQUE (app_id, account_id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_pkey PRIMARY KEY (id);


--
-- Name: user_profile_address user_profile_address_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.user_profile_address
    ADD CONSTRAINT user_profile_address_pkey PRIMARY KEY (id);


--
-- Name: user_profile_complaint user_profile_complaint_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.user_profile_complaint
    ADD CONSTRAINT user_profile_complaint_pkey PRIMARY KEY (id);


--
-- Name: user_profile_wallet user_profile_wallet_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.user_profile_wallet
    ADD CONSTRAINT user_profile_wallet_pkey PRIMARY KEY (id);


--
-- Name: user_profile_wallet user_profile_wallet_user_id_a5771a08_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.user_profile_wallet
    ADD CONSTRAINT user_profile_wallet_user_id_a5771a08_uniq UNIQUE (user_id);


--
-- Name: user_profile_wallettransaction user_profile_wallettransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.user_profile_wallettransaction
    ADD CONSTRAINT user_profile_wallettransaction_pkey PRIMARY KEY (id);


--
-- Name: wishlist_wishlist wishlist_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.wishlist_wishlist
    ADD CONSTRAINT wishlist_wishlist_pkey PRIMARY KEY (id);


--
-- Name: wishlist_wishlist wishlist_wishlist_user_id_product_id_57695ed7_uniq; Type: CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.wishlist_wishlist
    ADD CONSTRAINT wishlist_wishlist_user_id_product_id_57695ed7_uniq UNIQUE (user_id, product_id);


--
-- Name: account_emailaddress_email_03be32b2; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX account_emailaddress_email_03be32b2 ON public.account_emailaddress USING btree (email);


--
-- Name: account_emailaddress_email_03be32b2_like; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX account_emailaddress_email_03be32b2_like ON public.account_emailaddress USING btree (email varchar_pattern_ops);


--
-- Name: account_emailaddress_user_id_2c513194; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX account_emailaddress_user_id_2c513194 ON public.account_emailaddress USING btree (user_id);


--
-- Name: account_emailconfirmation_email_address_id_5b7f8c58; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX account_emailconfirmation_email_address_id_5b7f8c58 ON public.account_emailconfirmation USING btree (email_address_id);


--
-- Name: account_emailconfirmation_key_f43612bd_like; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX account_emailconfirmation_key_f43612bd_like ON public.account_emailconfirmation USING btree (key varchar_pattern_ops);


--
-- Name: auth_admin_coupon_code_7963daef_like; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_coupon_code_7963daef_like ON public.auth_admin_coupon USING btree (code varchar_pattern_ops);


--
-- Name: auth_admin_customuser_email_08e94879_like; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_customuser_email_08e94879_like ON public.auth_admin_customuser USING btree (email varchar_pattern_ops);


--
-- Name: auth_admin_customuser_groups_customuser_id_1d543fc5; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_customuser_groups_customuser_id_1d543fc5 ON public.auth_admin_customuser_groups USING btree (customuser_id);


--
-- Name: auth_admin_customuser_groups_group_id_d632c244; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_customuser_groups_group_id_d632c244 ON public.auth_admin_customuser_groups USING btree (group_id);


--
-- Name: auth_admin_customuser_user_permissions_customuser_id_f905393c; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_customuser_user_permissions_customuser_id_f905393c ON public.auth_admin_customuser_user_permissions USING btree (customuser_id);


--
-- Name: auth_admin_customuser_user_permissions_permission_id_403f4576; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_customuser_user_permissions_permission_id_403f4576 ON public.auth_admin_customuser_user_permissions USING btree (permission_id);


--
-- Name: auth_admin_customuser_username_535081ae_like; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_customuser_username_535081ae_like ON public.auth_admin_customuser USING btree (username varchar_pattern_ops);


--
-- Name: auth_admin_order_address_id_47d81324; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_order_address_id_47d81324 ON public.auth_admin_order USING btree (address_id);


--
-- Name: auth_admin_order_coupon_id_5eada1af; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_order_coupon_id_5eada1af ON public.auth_admin_order USING btree (coupon_id);


--
-- Name: auth_admin_order_user_id_f262748d; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_order_user_id_f262748d ON public.auth_admin_order USING btree (user_id);


--
-- Name: auth_admin_orderitem_order_id_5c8ff72f; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_orderitem_order_id_5c8ff72f ON public.auth_admin_orderitem USING btree (order_id);


--
-- Name: auth_admin_orderitem_product_id_e2ef5967; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_orderitem_product_id_e2ef5967 ON public.auth_admin_orderitem USING btree (product_id);


--
-- Name: auth_admin_product_category_id_b8235921; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_product_category_id_b8235921 ON public.auth_admin_product USING btree (category_id);


--
-- Name: auth_admin_product_name_cbeae427_like; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_admin_product_name_cbeae427_like ON public.auth_admin_product USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: cart_cartitem_cart_id_370ad265; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX cart_cartitem_cart_id_370ad265 ON public.cart_cartitem USING btree (cart_id);


--
-- Name: cart_cartitem_product_id_b24e265a; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX cart_cartitem_product_id_b24e265a ON public.cart_cartitem USING btree (product_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: django_site_domain_a2e37b91_like; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX django_site_domain_a2e37b91_like ON public.django_site USING btree (domain varchar_pattern_ops);


--
-- Name: socialaccount_socialaccount_user_id_8146e70c; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX socialaccount_socialaccount_user_id_8146e70c ON public.socialaccount_socialaccount USING btree (user_id);


--
-- Name: socialaccount_socialapp_sites_site_id_2579dee5; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX socialaccount_socialapp_sites_site_id_2579dee5 ON public.socialaccount_socialapp_sites USING btree (site_id);


--
-- Name: socialaccount_socialapp_sites_socialapp_id_97fb6e7d; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX socialaccount_socialapp_sites_socialapp_id_97fb6e7d ON public.socialaccount_socialapp_sites USING btree (socialapp_id);


--
-- Name: socialaccount_socialtoken_account_id_951f210e; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX socialaccount_socialtoken_account_id_951f210e ON public.socialaccount_socialtoken USING btree (account_id);


--
-- Name: socialaccount_socialtoken_app_id_636a42d7; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX socialaccount_socialtoken_app_id_636a42d7 ON public.socialaccount_socialtoken USING btree (app_id);


--
-- Name: unique_primary_email; Type: INDEX; Schema: public; Owner: abcd
--

CREATE UNIQUE INDEX unique_primary_email ON public.account_emailaddress USING btree (user_id, "primary") WHERE "primary";


--
-- Name: unique_verified_email; Type: INDEX; Schema: public; Owner: abcd
--

CREATE UNIQUE INDEX unique_verified_email ON public.account_emailaddress USING btree (email) WHERE verified;


--
-- Name: user_profile_address_user_id_1edf69b6; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX user_profile_address_user_id_1edf69b6 ON public.user_profile_address USING btree (user_id);


--
-- Name: user_profile_complaint_item_id_16760788; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX user_profile_complaint_item_id_16760788 ON public.user_profile_complaint USING btree (item_id);


--
-- Name: user_profile_complaint_order_id_ae34d300; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX user_profile_complaint_order_id_ae34d300 ON public.user_profile_complaint USING btree (order_id);


--
-- Name: user_profile_wallettransaction_wallet_id_de76d7ff; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX user_profile_wallettransaction_wallet_id_de76d7ff ON public.user_profile_wallettransaction USING btree (wallet_id);


--
-- Name: wishlist_wishlist_product_id_2d08b75d; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX wishlist_wishlist_product_id_2d08b75d ON public.wishlist_wishlist USING btree (product_id);


--
-- Name: wishlist_wishlist_user_id_13f28b16; Type: INDEX; Schema: public; Owner: abcd
--

CREATE INDEX wishlist_wishlist_user_id_13f28b16 ON public.wishlist_wishlist USING btree (user_id);


--
-- Name: account_emailaddress account_emailaddress_user_id_2c513194_fk_auth_admi; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_2c513194_fk_auth_admi FOREIGN KEY (user_id) REFERENCES public.auth_admin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_emailconfirmation account_emailconfirm_email_address_id_5b7f8c58_fk_account_e; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirm_email_address_id_5b7f8c58_fk_account_e FOREIGN KEY (email_address_id) REFERENCES public.account_emailaddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_admin_customuser_groups auth_admin_customuse_customuser_id_1d543fc5_fk_auth_admi; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser_groups
    ADD CONSTRAINT auth_admin_customuse_customuser_id_1d543fc5_fk_auth_admi FOREIGN KEY (customuser_id) REFERENCES public.auth_admin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_admin_customuser_user_permissions auth_admin_customuse_customuser_id_f905393c_fk_auth_admi; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser_user_permissions
    ADD CONSTRAINT auth_admin_customuse_customuser_id_f905393c_fk_auth_admi FOREIGN KEY (customuser_id) REFERENCES public.auth_admin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_admin_customuser_user_permissions auth_admin_customuse_permission_id_403f4576_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser_user_permissions
    ADD CONSTRAINT auth_admin_customuse_permission_id_403f4576_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_admin_customuser_groups auth_admin_customuser_groups_group_id_d632c244_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_customuser_groups
    ADD CONSTRAINT auth_admin_customuser_groups_group_id_d632c244_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_admin_order auth_admin_order_address_id_47d81324_fk_user_profile_address_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_order
    ADD CONSTRAINT auth_admin_order_address_id_47d81324_fk_user_profile_address_id FOREIGN KEY (address_id) REFERENCES public.user_profile_address(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_admin_order auth_admin_order_coupon_id_5eada1af_fk_auth_admin_coupon_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_order
    ADD CONSTRAINT auth_admin_order_coupon_id_5eada1af_fk_auth_admin_coupon_id FOREIGN KEY (coupon_id) REFERENCES public.auth_admin_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_admin_order auth_admin_order_user_id_f262748d_fk_auth_admin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_order
    ADD CONSTRAINT auth_admin_order_user_id_f262748d_fk_auth_admin_customuser_id FOREIGN KEY (user_id) REFERENCES public.auth_admin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_admin_orderitem auth_admin_orderitem_order_id_5c8ff72f_fk_auth_admin_order_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_orderitem
    ADD CONSTRAINT auth_admin_orderitem_order_id_5c8ff72f_fk_auth_admin_order_id FOREIGN KEY (order_id) REFERENCES public.auth_admin_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_admin_orderitem auth_admin_orderitem_product_id_e2ef5967_fk_auth_admi; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_orderitem
    ADD CONSTRAINT auth_admin_orderitem_product_id_e2ef5967_fk_auth_admi FOREIGN KEY (product_id) REFERENCES public.auth_admin_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_admin_product auth_admin_product_category_id_b8235921_fk_auth_admi; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_admin_product
    ADD CONSTRAINT auth_admin_product_category_id_b8235921_fk_auth_admi FOREIGN KEY (category_id) REFERENCES public.auth_admin_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cart cart_cart_user_id_9b4220b9_fk_auth_admin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_user_id_9b4220b9_fk_auth_admin_customuser_id FOREIGN KEY (user_id) REFERENCES public.auth_admin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cartitem cart_cartitem_cart_id_370ad265_fk_cart_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_cart_id_370ad265_fk_cart_cart_id FOREIGN KEY (cart_id) REFERENCES public.cart_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cartitem cart_cartitem_product_id_b24e265a_fk_auth_admin_product_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_product_id_b24e265a_fk_auth_admin_product_id FOREIGN KEY (product_id) REFERENCES public.auth_admin_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_admin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_admin_customuser_id FOREIGN KEY (user_id) REFERENCES public.auth_admin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_account_id_951f210e_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_account_id_951f210e_fk_socialacc FOREIGN KEY (account_id) REFERENCES public.socialaccount_socialaccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_app_id_636a42d7_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_app_id_636a42d7_fk_socialacc FOREIGN KEY (app_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_site_id_2579dee5_fk_django_si; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_site_id_2579dee5_fk_django_si FOREIGN KEY (site_id) REFERENCES public.django_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc FOREIGN KEY (socialapp_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialaccount socialaccount_social_user_id_8146e70c_fk_auth_admi; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_social_user_id_8146e70c_fk_auth_admi FOREIGN KEY (user_id) REFERENCES public.auth_admin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_profile_address user_profile_address_user_id_1edf69b6_fk_auth_admi; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.user_profile_address
    ADD CONSTRAINT user_profile_address_user_id_1edf69b6_fk_auth_admi FOREIGN KEY (user_id) REFERENCES public.auth_admin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_profile_complaint user_profile_complai_item_id_16760788_fk_auth_admi; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.user_profile_complaint
    ADD CONSTRAINT user_profile_complai_item_id_16760788_fk_auth_admi FOREIGN KEY (item_id) REFERENCES public.auth_admin_orderitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_profile_complaint user_profile_complaint_order_id_ae34d300_fk_auth_admin_order_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.user_profile_complaint
    ADD CONSTRAINT user_profile_complaint_order_id_ae34d300_fk_auth_admin_order_id FOREIGN KEY (order_id) REFERENCES public.auth_admin_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_profile_wallet user_profile_wallet_user_id_a5771a08_fk_auth_admi; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.user_profile_wallet
    ADD CONSTRAINT user_profile_wallet_user_id_a5771a08_fk_auth_admi FOREIGN KEY (user_id) REFERENCES public.auth_admin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_profile_wallettransaction user_profile_wallett_wallet_id_de76d7ff_fk_user_prof; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.user_profile_wallettransaction
    ADD CONSTRAINT user_profile_wallett_wallet_id_de76d7ff_fk_user_prof FOREIGN KEY (wallet_id) REFERENCES public.user_profile_wallet(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: wishlist_wishlist wishlist_wishlist_product_id_2d08b75d_fk_auth_admin_product_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.wishlist_wishlist
    ADD CONSTRAINT wishlist_wishlist_product_id_2d08b75d_fk_auth_admin_product_id FOREIGN KEY (product_id) REFERENCES public.auth_admin_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: wishlist_wishlist wishlist_wishlist_user_id_13f28b16_fk_auth_admin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: abcd
--

ALTER TABLE ONLY public.wishlist_wishlist
    ADD CONSTRAINT wishlist_wishlist_user_id_13f28b16_fk_auth_admin_customuser_id FOREIGN KEY (user_id) REFERENCES public.auth_admin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO abcd;


--
-- PostgreSQL database dump complete
--

